<div class="container">

  <mat-card-content>

    <div class="row">
      <div class="col-lg-4 col-sm-12 1-passo">
        <mat-form-field class="mat-form-field example-full-width">
          <input matInput placeholder="Nome" required />
        </mat-form-field>
      </div>
    </div>

    <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
  </mat-card-content>



  <button pButton type="button" label="Click"></button>
  <p-button label="Click"></p-button>
  <p-splitButton label="Save" icon="pi pi-check" (click)="save()"></p-splitButton>

</div>