<aside class="main-sidebar">
  
    <section class="sidebar" style="height: auto;">
   
      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MENU NAVEGAÇÃO</li>
        <li class="active treeview menu-open">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Administracao</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a routerLink="/cliente/consulta"> <i class="fa fa-circle-o"></i> Clientes</a>
            </li>
            <li class="active">
              <a routerLink="/veiculo/consulta"> <i class="fa fa-circle-o"></i> Veiculos</a>
            </li>
            <li class="active">
                <a routerLink="/entradaSaida/consulta"> <i class="fa fa-circle-o"></i> Entrada e Saida de Veiculos</a>
              </li>
              <li class="active">
                <a routerLink="/orcamento/consulta"> <i class="fa fa-circle-o"></i> Orcamento</a>
              </li> 
              <li class="active">
                <a routerLink="/promissoria/consulta"> <i class="fa fa-circle-o"></i> Promissoria</a>
              </li> 
          </ul>
        </li>
  
       
      </ul>
    </section>
  </aside>
  